// primary
$color-main: #C774EE;
$color-white: #fff;

$color-btn-border: #C9C8D0;

// text
$color-title: #111563;
$color-blue: #286DBD;
$color-paragraph: #63718E;
$color-inputs: #3A3A3A;

// background
$color-bg: #F9FAFC;

// additional
$color-pink: #FEE5FF;
$color-blue: #E8F8FF;
$color-blue-dark: #BAD9E7;